#Core Django and REST framework

Django>=4.2
djangorestframework
djangorestframework-simplejwt  # Auth (JWT)
django-cors-headers            # CORS
django-jazzmin                 # Admin Theme
django-celery-results          # Celery DB Backend

#Utilities & File Handling

Pillow                         # Images
openpyxl                       # Excel
requests                       # HTTP Requests (Safety check)

#AI & Background Tasks

celery
redis
google-generativeai
google-api-python-client

#Database & Deployment

psycopg2-binary                # PostgreSQL
dj-database-url                # DB Config Parser
gunicorn                       # Web Server
whitenoise                     # Static Files
python-dotenv                  # Env Vars